<div class="row">
    <nav style="margin-bottom: 20px;">
        <div class="nav-wrapper">
            <a href="#" class="brand-logo">Email user : {{authService.UserEmail}} & Uid : {{authService.UserUid}}</a>
            <ul id="nav-mobile" class="right hide-on-med-and-down">
            </ul>
        </div>
    </nav>


    <div  class="divider" style="margin-bottom: 20px;"></div>
    <app-jeuxvideo class="col s6"></app-jeuxvideo>
    <app-jeuxvideo-list class="col s6"></app-jeuxvideo-list>
</div>